body{
    background-color: yellow;

}
h1{
    color:orangered;
    text-align: center;
}

.wrapper{
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 7fr 2fr 2fr;
    grid-template-areas: "titlearea titlearea"
    "gameboardarea answerarea"
    "gameboardarea scoreboardarea"
    "animationarea scoreboardarea";
    height:150vh;

}

.gameBoard{
    border: solid black 2px;
    grid-area: gameboardarea;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr;
    
}
.cards{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid black 5px;
    align-items: center;

}
.cardsColumn1{
    display:flex;
    flex-direction: column;
    border: solid black 5px;
    align-items: center;
    justify-content: space-evenly;
   
}

.categoryBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: solid black 5px;
    width: 200px;
    height: 100px;
    justify-content: space-evenly;
    font-family: 'Suez One', serif;
    
}
.cardsColumn2{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid black 5px;
    
}
.cardsColumn4{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid black 5px;
    
}
.cardsColumn3{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid black 5px;
    
}
.playerOne{
    border: solid black 3px;
    align-content: center;
    font-size: 50px;
    text-align: center;

}
.cardsColumn5{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid black 5px; 
}
p{
    color:orangered;
    font-size: 30px;
    text-align: center;
    align-items: center;
}
.questionBoxes{
    height:100px;
    width:200px;
    border: solid black 5px;
    align-content: center;
    align-items: center;
    background-color:hotpink;

}
.title{
    border: solid black 5px;
    grid-area: titlearea;
    background-image: url(images/80s\ tpes.jpg);
    background-image: contain;
    font-family: 'Suez One', serif;
    color:orangered;
    text-shadow: yellow 2px 4px;
    font-size: 50px;
}
.multipleChoiceBox{
    border: solid black 5px;
    grid-area: answerarea;
    font-family: 'Suez One', serif;

}
.set{
    display: flex;
}
.animationBox{
    border: solid black 5px;
    grid-area: animationarea;
    font-family: 'Suez One', serif;

}
.scoreBoard{
    border: solid black 5px;
    grid-area: scoreboardarea;
    font-family: 'Suez One', serif;
}
